body {
  background-color: white;
  background-image: url(assets/superheros.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: bottom; 
  background-size: 85%;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  color: black;
  height:100%;
  font-size:18px;
}

.container{
  text-align: left;
  display: block;
  margin-top: -100px;
  padding-left: 50px;
  padding-top: 200px;
  line-height: 1.5;

}

h1, h2, p{
	font-family: 'Roboto Condensed', serif;
  text-transform: uppercase;
  text-shadow: 1px 1px 2px black, 0 0 1em black, 0 0 0.2em black;
  color: white;
  font: 1.5em;
  margin:5px 0;
  padding-right: 50px;
}

h1 {
  font-size: 5.6em;
  text-align: center;
}

h2 {
  font-size: 1.6em;
  text-align: center;
}

p {
  font-size: 1.6em;
  padding-right: 100px;
  padding-left: 50px;
}
